/* import for google fonts */
@import url('https://fonts.googleapis.com/css2?family=Radio+Canada+Big:ital,wght@0,400..700;1,400..700&display=swap');

/* body of the page */
body {
    background-color: gray;
    margin: 0;
    font-family: "Radio Canada Big", sans-serif;
}
/* div which contains the whole game */
#game {
    height: 100vh;
}
/*--------------------------- game header styles ----------------------------- */
/* div holding title, highscore and timer */
#gameTitle {
    background-color: lightgray;
    text-align: center;
    border: 5px solid black;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
/* game title */
#gameTitle h1 {
    margin: 1%;
    padding-top: 1%;
}
/* high score and timer */
#gameTitle h2 {
    font-weight: 200;
    margin: 1%;
}
#highScore, #countDownTimer {
    font-weight: bold;
    
}
#gameTimer {
    margin-bottom: 5% !important;
}
/*------------------ letter container and letter tile styles------------------ */
/* container to hold game letter tiles */
#container {
    padding-top: 10%;
    padding-bottom: 10%;
    padding-left: 5%;
    padding-right: 5%;
    margin: 5px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 80%;
    background-color: lightgray;
    border: 5px solid black;
    border-radius: 10px;
}
/* tiles to container letters */
.tile {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 6vh;
    height: 9vh;
    background-color: rgb(171, 169, 115);
    margin: 10px;
    font-size: 50px;
    border: 2px solid black;
    border-radius: 5px;
    text-transform: capitalize;
    font-weight: 500;
}
/*---------------------- players answer tiles styles -------------------------- */
/* div which contains results */
#result {
    margin: 10px auto;
    justify-content: center;
    text-align: center;
    width: 90%;
    height: 15%;
    background-color: lightgray;
    border: 5px solid black;
    border-radius: 10px;
}
/* title for players word */
#result h2 {
    margin: 0;
    font-weight: 200;
}
/* changes to tile class rules for tiles in player answer */
#result .tile {
    width: 4.8vh;
    height: 7.2vh;
    font-size: 40px;
    margin: 5px;
}
/* div to hold player letters of their answer */
#playersWord {
    display: flex;
    justify-content: center;
}
/*---------------------- game control buttons styles -------------------------- */
/* div which contains buttons for player to control game */
#gameButtons {
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
    background-color: lightgray;
    z-index: 1;
    border: 5px solid black;
    border-radius: 10px;
    box-sizing: border-box;
    padding: 5px 40px 0px;
}
/* h2 which act as buttons */
#gameButtons h2 {
    margin: 2%;
    background-color: lightgray;
}
/* button to start game */
#startGame {
    border: 2px solid black;
    border-radius: 10px; 
    font-weight: 200;
}
/* button to submit player answer */
#submitButton {
    border: 2px solid black;
    border-radius: 10px;
    margin: 5px;
    font-weight: 200;
}
/*------------------------------- modal styles ------------------------------- */
/* styles for all modals */
.modal {
    position: fixed;
    color: black;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    padding: 1rem;
    background-color: lightgray;
    cursor: pointer;
    visibility: hidden;
    border: 15px solid black;
    opacity: 0;
    z-index: 2;
}
.modal button {
    margin-top: 40px;
    margin-bottom: 20px;
    padding: 20px 40px;
    border-radius: 10px;
    font-family: "Radio Canada Big", sans-serif;
    font-size: 24px;
}
/* styles to add to make modals visible */
.modal.is-visible {
    visibility: visible;
    opacity: 1;
}
/*-------------------- game instruction modal styles ------------------------- */

/* styles for the game title */
#introduction h1 {
    font-size: 50px;
    margin-top: 0;
}
/* styles for the list of instructions */
#gameInstructions ul {
    padding: 0;
}
#instructions h1 {
    font-size: 35px;
}
/*-------------------- is a word modal styles -------------------------------- */
#score {
    color: white;
}
#isAWord h1 {
    font-size: 50px;
}
#word {
    color: white;
}
#isAWord div {
    font-size: 35px;
}

/*------------------- not a word instruction modal styles -------------------- */
#notAWord h1 {
    font-size: 50px;
}
#notAWord div {
    font-size: 35px;
}

/*------------------- too short word instruction modal styles -------------------- */
#tooShortWord {

}
/*------------------ styles for extrasmall mobile screens -------------------- */
@media (max-height: 840px) {
    .modal button {
        margin-top: 5px;
        margin-bottom: 5px;
        padding: 5px 10px;
        border-radius: 10px;
        font-family: "Radio Canada Big", sans-serif;
        font-size: 20px;
    }
    .modal h1 {
        font-size: 30px;
        margin-top: 0;
    }
    .modal h1 {
        font-size: 25px;
    }
    #gameInstructions ul {
        padding: 0;
        margin: 5px;
    }
    /* container to hold game letter tiles */
#container {
    padding-top: 5%;
    padding-bottom: 5%;
    padding-left: 5%;
    padding-right: 5%;
    margin: 5px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 80%;
    background-color: lightgray;
    border: 5px solid black;
    border-radius: 10px;
}
/* tiles to container letters */
.tile {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 6vh;
    height: 9vh;
    background-color: rgb(171, 169, 115);
    margin: 4px;
    font-size: 35px;
    border: 2px solid black;
    border-radius: 5px;
    text-transform: capitalize;
    font-weight: 500;   
}
#result .tile {
    width: 4.8vh;
    height: 7.2vh;
    font-size: 28px;
    margin: 5px;
}
}