
.gameTitle {
    height: 20vh;
    background-color: gray;
    text-align: center;
}

.gameInstructions {
    text-align: center;
    height: 20vh;
    background-color: gray;
}

.currentGame {
    display: flex;
}

.result {
    background-color: lightgray;
    text-align: center;
}


.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 40vh;
    margin: auto;
    background-color: lightgray;
}

.tile {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 80px;
    background-color: grey;
    margin: 10px;
}

ul {
    list-style: none;
}